

body {

	background-image: url('https://s-media-cache-ak0.pinimg.com/originals/f0/07/a1/f007a1ce8434a02505196f58ec52db5b.jpg');
	
	font-family: 'NHaasGroteskTXW02-75Bd','Helvetica','Arial',sans-serif;

}




.jumbotron{

	
	background-color: rgba(90,90,90,0.41);
	
	color: #ffffff;

}

h1, h2{

	color: #ffffff;
	text-align: center;

}


h3{

	color: #ffffff;
	text-align: center;

}


.question{

	
	color:#ffffff;
	font-size: 2em;
	font-weight: bolder;
	text-align: center;


}


.btn-group-vertical{

	color:#ffffff;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

button{

	color: #ffffff;
	background-color: rgba(90,90,90,0.41); 

}

.image-holder{

	width: 100%;

	text-align: center;
}



